[Dd]esktop.ini
game-tracker-frontend/
game-tracker-backend/
*.ini
Back/SmartGameCatalog/SmartGameCatalog.API/Controllers/desktop.ini
.github/desktop.ini
.github/workflows/desktop.ini
.vs/ProjectEvaluation/desktop.ini
.vs/Proyecto/CopilotIndices/17.13.439.2385/desktop.ini
.vs/Proyecto/CopilotIndices/desktop.ini
.vs/Proyecto/DesignTimeBuild/desktop.ini
.vs/Proyecto/desktop.ini
.vs/Proyecto/FileContentIndex/desktop.ini
.vs/Proyecto/v17/desktop.ini
Back/desktop.ini
Back/SmartGameCatalog/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/cs/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/de/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/es/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/fr/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/it/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/ja/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/ko/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/pl/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/pt-BR/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/ru/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/tr/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/zh-Hans/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/bin/Debug/net9.0/zh-Hant/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/Data/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/Model/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/obj/Debug/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/obj/Debug/net9.0/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/obj/Debug/net9.0/ref/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/obj/Debug/net9.0/refint/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/obj/Debug/net9.0/SmartGameCatalog.API.AssemblyInfo.cs
Back/SmartGameCatalog/SmartGameCatalog.API/obj/Debug/net9.0/SmartGameCatalog.API.AssemblyInfoInputs.cache
Back/SmartGameCatalog/SmartGameCatalog.API/obj/Debug/net9.0/staticwebassets/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/obj/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/Properties/desktop.ini
Back/SmartGameCatalog/SmartGameCatalog.API/Respositories/desktop.ini
BBDD/desktop.ini
desktop.ini
Documentación/desktop.ini
Documentación/Entregado/desktop.ini
Documentos Unir/desktop.ini
Front/bocetos/desktop.ini
Front/desktop.ini
Documentos Unir/videos/vistas/desktop.ini
Documentos Unir/videos/desktop.ini
*.ini
